header,footer{
    background-color: rgb(183, 128, 241);
    color:white
}
footer{
    bottom: 0;
    text-align: center;
}
h1{
    text-align: center;
}

nav  a{  
    padding: 10px;
    background-color:white;
    text-decoration:none;
    border: 1px solid brown;
    margin: 5px;
    border-radius: 5px;    
    display:  inline-block;
}
nav a:link {color: rgb(173, 137, 246);}
nav a:visited {color: blue;}
nav a:active {background-color: green; color: white;}
p::selection{
    background-color: lightsalmon;
}
 
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: #b8ceb4;
    color: #9c89e2;
    padding: 15px;
  }
  
  
  .footer {
    bottom: 0;
    background-color: #a384f2;
    color: #260101;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] { 
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) { /* entonces >= 600px  */
    /* For tablets: */
    .col-s-1 {width: 8.33%;} 
    .col-s-2 {width: 16.66%;} 
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {  /* entonces >=   */
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

